.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

nav,
section {
    position: relative;
    width: calc(50% - 20px);
}
nav div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header_box {
    width: 80vw;
    margin-left: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 340px;
    height: 50px;
    padding: 10px;
    padding-right: 30px;
    background: #FFFFFF;
    border: 2px solid #EFEFEF;
    border-radius: 4px;
    outline: none;
}

.search::-ms-clear {
    display: none;
}

.search::-webkit-search-cancel-button {
    display: none;
}

.search-container {
    position: relative;
}

.search-wrapper {
    position: relative;
}

.search-wrapper::before {
    content: "";
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' fill='none'%3e%3cpath fill='%23D1D1D1' d='m16.77 14.7-3.31-3.31a.8.8 0 0 0-.57-.23h-.54a6.9 6.9 0 1 0-1.2 1.2v.53c0 .21.09.42.24.57l3.31 3.3a.8.8 0 0 0 1.13 0l.94-.93a.8.8 0 0 0 0-1.13ZM6.9 11.16a4.25 4.25 0 1 1 0-8.5 4.25 4.25 0 0 1 0 8.5Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
}

.search-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
}


.sr-only {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


.burger-menu {
    width: 104px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: #ff0000;
    transition: all 0.3s ease-in-out;
    z-index: 9990;
}

.shifted {
    transform: translateX(104px);
    transition: all 0.3s ease-in-out;
}

.open {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.opened {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
}

.burger-menu {
    transition: width 0.3s ease;
}

.burger-menu__list .create_new_shop {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.burger-menu__item {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    color: #ffffff;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;

}

.burger-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 1em;
}


.burger-menu:hover .burger-menu__list {
    opacity: 1;
    display: block;
}

.burger-menu__list li {
    margin-bottom: 10px;
}

.burger-menu__list li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    font-family: HeliosC;
    transition: background-color 0.3s ease-in-out;
}

.burger-menu__list li a:hover {
    fill: red;
    background-color: #ffffff;
    color: #ff0000;
    transition: background-color 0.3s ease-in-out;
}

.burger-menu__item.settings {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    font-family: HeliosC;
    transition: background-color 0.3s ease-in-out;
}

.burger-menu__item.settings i {
    font-size: 30px;
    margin-right: 0.5em;
}

.burger-menu__list li div {
    position: relative;
}


.burger-menu__item.settings i:hover {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.shop {
    padding-left: 13px;
    font-size: 35px;
    font-weight: bold;
}

.shop i {
    font-size: 24px;
    margin-right: 10px;
}

.new_shop {
    position: absolute;
    display: flex;

    font-size: 23px;
    font-weight: bold;
    white-space: nowrap;
}

.new_shop div {
    position: absolute;
    display: flex;
    margin-left: 1.2em;
    margin-right: 0.5em;
}

.new_shop span {
    margin-right: 0.7em;
}

.new_shop:hover path {
    fill: #ff0000;
}

.shopping_bag {
    margin-left: 3.7em;
    width: 35px;
    height: 35px;
    transform: rotate(90deg);
    transition: 0.3s ease-in-out;
}

.shopping_bag--open {
    margin-left: 0;
    transform: rotate(0deg);
}
.log_out {
    height: 30px;
    margin-left: 18px;
}

.log_out:focus,
.log_out:hover {
    cursor: pointer;
    transform: scale(2);
    transition: transform 0.3s ease-in-out;
}