:root {
    /* background */
    --c-dark: #141d2d;
    --c-light: #fff;
    --c-accent: #ff6b08;

    --c-dark-blue: #253045;
    --c-grey-blue: #4a5771;
    --c-grey-light: #f1f2f2;
    --c-grey: #bcc1d2;

    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4f5b70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);

    /* modals */
    --modal-bgd-dark: rgba(20, 29, 45, 0.8);
    /* font */
    --font-main: "HeliosC", sans-serif;

    /* container width */
    --vertical-scroll: 20px;
    --mobile: calc(300px + var(--vertical-scroll));
    --tablet: calc(640px + var(--vertical-scroll));
    --desktop: calc(900px + var(--vertical-scroll));
    --desktop-lg: calc(1146px + var(--vertical-scroll));
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "HeliosC";
    src: url("../fonts/44-font.otf");
    src: local("HeliosC"), local("HeliosC"),
        font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "HeliosC";
    src: url("../fonts/44-font.otf");
    src: local("HeliosC"), local("HeliosC"),
        font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: "HeliosC";
    src: url("../fonts/44-font.otf");
    src: local("HeliosC"), local("HeliosC"),
        font-weight: normal;
    font-style: normal;
}

* {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.background {
    background-image: url("../src/cyber-monday-event-sale-elements-on-black-background\ 2.png"), url("../src/bg.png");
    background-blend-mode: darken;
    background-size: cover;
}

.background_merchant {
    background-image: url("../src/5197213\ 1.png");
    background-size: cover;
}

.background_merchant_home_page {
    background: #FFEDED;
}

.background_customer {
    background-image: url("../src/6515135\ 1.png");
    background-size: cover;
}

.background_merchant img {
    padding: 2em;
}

.background_customer img {
    padding: 2em;
}

.header_merchant {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    height: 90px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.white_txt {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 118px;
    text-align: center;

    color: #FFFFFF;
}

.container {
    min-width: 320px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}

.container_row {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    text-align: center;
    margin: 10% 0 0;
}

.white_frame {
    background: #FFFFFF;
    border-radius: 15px;
    width: 726px;
}

.green_txt {
    padding-bottom: 2em;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: #525B6A;
    font-family: "HeliosC";
}

.callback_form_input {
    width: 591px;
    height: 25px;
    background: #FFFFFF;
    border: 2px solid #EFEFEF;
    border-radius: 4px;
    outline: none;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    padding-top: 2em;
    padding-bottom: 3em;

    font-family: "HeliosC";
    font-style: normal;
    font-weight: 700;
    font-size: 14.7px;
    line-height: 17px;
    text-align: center;

    color: #18A0FB;

}

.btn {
    color: #f1f2f2;
    text-align: center;
    width: 213px;
    height: 43px;
    border-radius: 21.5px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
    margin: 10px 4em;

    line-height: 2.2em;

    font-family: "HeliosC";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.btn:hover {
    color: #000;
}

.btn_normal {
    background: #18A0FB;
    width: 135px;
    height: 43px;
}

.btn_merchant {
    background: #FF0000;
}

.btn_customer {
    background: #00CC00;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.inputs {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.inputs input {
    padding: 10px;
    margin: 10px;
}

.previous {
    flex-direction: row;
    align-items: flex-start;
}

.previous:hover {
    transform: scale(1.2);
}

